{% extends 'base.html' %}

{% block page_title %}
    <a href="/hospital/">医院管理</a> /添加医院
{% endblock %}
{% block content %}
    <div class="panel-body ">
        <form method="post" novalidate>
            {% csrf_token %}

            <div class="row">
                <p class="col-md-6"><span><strong>医院名称：</strong>{{ form.name }}{{ form.errors.title.0 }}</span></p>
            </div>
            <div class="row">
                <p class="col-md-6"><span><strong>医院描述：</strong>{{ form.description }}</span></p>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $("#hospital").addClass("active");
        });
    </script>
{% endblock %}


