{% extends 'base.html' %}

{% block page_title %}
    <a href="/doctor/">医生管理</a> /添加医生
{% endblock %}
{% block content %}
    <div class="panel-body ">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="id_caption" class="col-md-2 control-label">医生姓名：</label>
                <div class="col-md-10">
                    {{ form.name }}{{ form.errors.name.0 }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10">
                <button class="btn btn-primary" type="submit">提交</button></div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $("#doctor").addClass("active");
        });
    </script>
{% endblock %}


