{% extends 'base.html' %}
{% block page_title %}
    医生管理
{% endblock %}
{% block content %}
    <div class="card-body">
        <div class="card-title col-lg-6">
            <a data-toggle="modal" data-target="#MyModal"
               onclick="showModal()">
                <button class="btn btn-success">添加</button>
            </a>
            <a href="">
                <button type="button" class="btn btn-primary">批量导入</button>
            </a>
        </div>
        <div class="modal fade" id="MyModalBody" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel"
             aria-hidden="true"></div>
        {% for Doctor in Doctor_list %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="row col-12">
            {% endif %}
        <div class="col-sm-6" style="padding-bottom: 2rem;">
            <div class="card">
                <div class="card-header">医生编号:{{ Doctor.id }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ Doctor.name }}</h5>
                    <p class="card-text">{{ Doctor.hospital }}<br>
                    <p class="font-weight-light">{{ Doctor.position }}</p></p>
                </div>
                <div class="card-footer">
                    <a href="/doctor/?method=reset&id={{ Doctor.id }}" class="btn btn-outline-warning">重置密码</a>
                    <a href="/doctor/?method=delete&id={{ Doctor.id }}" class="btn btn-outline-danger">删除</a>
                </div>

            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
            </div>
        {% endif %}
        {% endfor %}

    </div>
    <script>
        var showModal = function () {
            $("#MyModalBody").load("/doctor/?method=add", function () {
                $("#MyModalBody").modal('show');
            })
        };
        $(document).ready(function () {
            $("#doctor").addClass("active");
        });
    </script>
{% endblock %}