{% extends 'base.html' %}

{% block page_title %}
    医生管理
{% endblock %}

{% block content %}
    <div class="panel-body">
        <div>

            <a href="/add_doctor/">
                <button class="btn btn-success">添加</button>
            </a>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>医生姓名</th>
                    <th>医生密码</th>
                    <th>密码操作</th>
                    <th>用户操作</th>
                </tr>
                </thead>
                <tbody>
                {% for Doctor in Doctor_list %}
                    <tr>
                        <td>{{ Doctor.name }}</td>
                        <td>{{ Doctor.pwd }}</td>
                        <td><a href="/doctor/?method=reset&id={{ Doctor.id }}">重置密码</a></td>
                        <td><a href="/doctor/?method=delete&id={{ Doctor.id }}">删除</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#doctor").addClass("active");
        });
    </script>
{% endblock %}