{% extends 'base.html' %}
{% block page_title %}
    医生管理
{% endblock %}
{% block content %}
    <div class="card-body">
        <div class="card-title col-lg-6">
            <a onclick="showModal()">
                <button class="btn btn-success">添加</button>
            </a>
            <a href="" class="btn btn-primary">批量导入</a>
            <a href="/doctor/?method=fake" class="btn btn-info">随机生成</a>
        </div>
        <div class="modal fade" id="MyModalBody" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel"
             aria-hidden="true"></div>
        {% for Doctor in doctor_list %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class="row col-12">
            {% endif %}
        <div class="col-sm-3" style="padding-bottom: 2rem;">
            <div class="card">
                <div class="card-header">医生编号:{{ Doctor.id }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ Doctor.name }}</h5>
                    <p class="card-text">{{ Doctor.hospital }}<br>
                    <p class="font-weight-light">{{ Doctor.position }}</p></p>
                </div>
                <div class="card-footer">
                    <a onclick="showModal{{ Doctor.id }}()"><button class="btn btn-outline-info"><i class="fal fa-info-circle"></i></button>
                    </a>
                    <a href="/doctor/?method=delete&id={{ Doctor.id }}" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                    <script>
                        var showModal{{ Doctor.id }} = function () {
                            $("#MyModalBody").load("/doctor/?method=further&id={{ Doctor.id }}", function () {
                                $("#MyModalBody").modal('show');
                            })
                        }
                    </script>
                </div>
                <div class="modal fade" id="MyModalBody" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel"
             aria-hidden="true"></div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
            </div>
        {% endif %}
        {% endfor %}
    <div class="col-lg-12 offset-lg-4 py-4">
        <ul class="pagination mx-auto text-center" id="pagination">
            <li class="page-item" id="previous">
                <a class="page-link" href="#" aria-label="Previous" id="previous-link">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for i in page.page_list %}
                <li class="page-item" id="page{{ i }}"><a class="page-link" href="/doctor/?method=view&page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item" id="next">
                <a class="page-link" href="#" aria-label="Next" id="next-link">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
    </div>
    <script>
        var showModal = function () {
            $("#MyModalBody").load("/doctor/?method=add", function () {
                $("#MyModalBody").modal('show');
            })
        };
        $(document).ready(function () {
            $("#doctor").addClass("active");
            pagination();
        });
    </script>
{% endblock %}