{% extends 'base.html' %}
{% block page_title %}
    医院管理
{% endblock %}
{% block content %}
    <div class="card-body">
        <div class="card-title col-6">
            <a data-toggle="modal" data-target="#MyModal"
               onclick="showModal()">
                <button class="btn btn-success">添加</button>
            </a>
            <a href="">
                <button type="button" class="btn btn-primary">批量导入</button>
            </a>
        </div>
        <div class="modal fade" id="MyModalBody" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel"
             aria-hidden="true">
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>医院名称</th>
                <th>医院描述</th>
                <th>医院操作</th>
            </tr>
            </thead>
            <tbody>
            {% for Hospital in hospital_list %}
                <tr>
                    <td>{{ Hospital.name }}</td>
                    <td>{{ Hospital.description }}</td>
                    <td><a href="/hospital/?method=delete&id={{ Hospital.id }}" class="btn btn-outline-danger"><i class="fal fa-trash"></i></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    <div class="col-lg-12 offset-lg-4 py-4">
        <ul class="pagination mx-auto text-center" id="pagination">
            <li class="page-item" id="previous">
                <a class="page-link" href="#" aria-label="Previous" id="previous-link">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for i in page.page_list %}
                <li class="page-item" id="page{{ i }}"><a class="page-link" href="/hospital/?method=view&page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item" id="next">
                <a class="page-link" href="#" aria-label="Next" id="next-link">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
    </div>
    <script>
        var showModal = function () {
            $("#MyModalBody").load("/hospital/?method=add", function () {
                $("#MyModalBody").modal('show');
            })
        };
        $(document).ready(function () {
            $("#hospital").addClass("active");
            pagination();
        });
    </script>
{% endblock %}