{% extends 'base.html' %}

{% block page_title %}
    医院管理
{% endblock %}

{% block content %}


    <div class="panel-body">
        <a data-toggle="modal" data-target="#MyModal"
           onclick="showModal()">
            <button class="btn btn-success">添加</button>
        </a>
        <a href="">
            <button type="button" class="btn btn-primary">批量导入</button>
        </a>

        <div class="modal fade" id="MyModalBody" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel"
             aria-hidden="true">
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>医院名称</th>
                <th>医院描述</th>
                <th>医院操作</th>
            </tr>
            </thead>
            <tbody>
            {% for Hospital in Hospital_list %}
                <tr>
                    <td>{{ Hospital.name }}</td>
                    <td>{{ Hospital.description }}</td>
                    <td><a href="/hospital/?method=delete&id={{ Hospital.id }}">删除</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <script>
        var showModal = function () {
            $("#MyModalBody").load("/hospital/?method=add", function () {
                $("#MyModalBody").modal('show');
            })
        };
        $(document).ready(function () {
            $("#hospital").addClass("active");
        });
    </script>
{% endblock %}