{% extends 'base.html' %}
{% block page_title %}
    欢迎页面
{% endblock %}
{% block ulcontent %}
        <li class="active"><a href="/welcome/">欢迎界面</a></li>
        <li><a href="/ques/">问卷管理</a></li>
        <li><a href="/member/">成员管理</a></li>
{% endblock %}
{% block content %}
    <div class="panel-body ">
        <div>
            <div class="jumbotron">
                <div class="container">
                    <h1>欢迎管理页面！</h1>
                    <p>power by shy</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}