{% extends 'base.html' %}
{% block page_title %}
    欢迎页面
{% endblock %}
{% block content %}
    <div class="card-body ">
        <div>
            <div class="jumbotron">
                <div class="container">
                    <h1>{{ user }}，欢迎您访问管理页面！</h1>
                    <p>power by shy</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#welcome").addClass("active");
        });
    </script>
{% endblock %}