{% extends 'base.html' %}

{% block page_title %}
    成员管理
{% endblock %}
{% block ulcontent %}
    <li><a href="/welcome/">欢迎界面</a></li>
    <li><a href="/ques/">问卷管理</a></li>
    <li class="active"><a href="/member/">成员管理</a></li>
{% endblock %}
{% block content %}
    <div class="panel-body">
        <div>
            <a href="/add_questionnaire/">
                <button class="btn btn-success">添加</button>
            </a>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>用户ID</th>
                    <th>用户姓名</th>
                    <th>用户密码</th>
                    <th>用户组</th>
                    <th>查看评分</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for Student in Student_list %}
                    <tr>
                        <td>{{ Student.id }}</td>
                        <td>{{ Student.name }}</td>
                        <td>{{ Student.pwd }}</td>
                        <td>{{ Student.cls.title }}</td>
                        <td><a href="">查看评分</a></td>
                        <td><a href="/delete_member/{{ Student.id }}/">删除</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}