{% extends 'base.html' %}

{% block page_title %}
    病人管理
{% endblock %}
{% block content %}
    <div class="card-body">
        <div class="card-title col-lg-6">
            <a data-toggle="modal" data-target="#MyModal"
               onclick="showaddModal()">
                <button class="btn btn-success">添加</button>
            </a>
            <a href="">
                <button type="button" class="btn btn-primary">批量导入</button>
            </a>
        </div>
        <div class="modal fade" id="MyModalBody" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel"
             aria-hidden="true"></div>
    <!--<hr class="my-4">-->
        {% for Patient in Patient_list %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="row col-12">
            {% endif %}
        <div class="col-sm-6" style="padding-bottom: 2rem;">
            <div class="card">
                <div class="card-header">病人编号:{{ Patient.id }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ Patient.name }}</h5>
                    <p class="card-text">{{ Patient.get_gender_display }}/{{ Patient.age }}岁<br>
                    <p class="font-weight-light">{{ Patient.native_place }}</p>
                </div>
                <div class="card-footer">
                    <a data-toggle="modal" data-target="#PartModal" onclick="showModal{{ Patient.id }}()">
                        <button class="btn btn-outline-info">详情</button></a>
                    <a href="/patient/?method=delete&id={{ Patient.id }}" class="btn btn-outline-danger">删除</a>
                    <script>
                        var showModal{{ Patient.id }} = function () {
                                                                    $("#MyModalBody").load("/patient/?method=further&id={{ Patient.id }}", function () {
                                                                        $("#MyModalBody").modal('show');
                                                                    })
                                                                }
                    </script>
                </div>

            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
            </div>
        {% endif %}
        {% endfor %}

    </div>
    <script>
        var showaddModal = function () {
            $("#MyModalBody").load("/patient/?method=add", function () {
                $("#MyModalBody").modal('show');
            })
        };
        $(document).ready(function () {
            $("#patient").addClass("active");
        });
    </script>
{% endblock %}