<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ Questionnaire.title }}</title>
    <script src="/static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/material-bootstrap-wizard.css" rel="stylesheet"/>
    <script src="/static/js/material-bootstrap-wizard.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
</head>
<body>
<!--   Big container   -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="purple" id="wizard">
                    <form action="" method="">
                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                {{ Questionnaire.title }}
                            </h3>
                            <h5>这是一个问卷描述预留</h5>
                        </div>
                        <div class="wizard-navigation">
                            <ul>
                                {% for i in parts %}
                                    <li><a href="#Part{{ i }}" data-toggle="tab">第{{ i }}部分</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="tab-content">
                            {% for i in parts %}
                                <div class="tab-pane" id="Part{{ i }}">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="info-text">
                                                {% for part in part_list %}
                                                    {% ifequal part.questionnaire.id qid %}
                                                        {% ifequal part.part_id i %}
                                                            {{ part.description }}
                                                        {% endifequal %}
                                                    {% endifequal %}
                                                {% endfor %}
                                            </h4>
                                        </div>
                                        {% for question in question_list %}
                                            {% ifequal question.part_id  i %}
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">{{ question.caption }}</label>
                                                        <select name="select_answer" class="form-control">
                                                            <option disabled="" selected=""></option>
                                                            {% for option in option_list %}
                                                                {% ifequal option.question_id question.id %}
                                                                    <option value="{{ option.id }}"> {{ option.name }}</option>
                                                                {% endifequal %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            {% endifequal %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next'
                                       value='下一部分'/>
                                <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish'
                                       value='提交问卷'/>
                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd'
                                       name='previous' value='上一部分'/>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </form>
                    <div class="col-lg-pull-0">
                        <a href="/ques/">
                            <button class="btn btn-success">返回</button>
                        </a>

                    </div>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div> <!-- row -->
</div> <!--  big container -->


<script>
    $("#btn-finish").on("click", function () {
        alert("无权限！");
    })
</script>
</body>

</html>