{% extends 'base.html' %}
{% block page_title %}
    问卷管理
{% endblock %}
{% block content %}
    <div class="panel-body ">
        <a data-toggle="modal" data-target="#MyModal"
           onclick="showModal()">
            <button class="btn btn-success">添加</button>
        </a>
        <div class="modal fade" id="MyModalBody" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel"
             aria-hidden="true">
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>问卷名称</th>
                <th>问卷选项</th>
                <th>统计情况</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for questionnaire in questionnaire_list %}
                <tr>

                    <td><a href="/questionnaire/{{ questionnaire.id }}/">
                        {{ form.title }}{{ questionnaire.title }}</a></td>
                    <td><a href="/edit_questionnaire/{{ questionnaire.id }}/">旧版编辑问卷</a></td>
                    <td><a href="/status/{{ questionnaire.id }}/">查看统计</a></td>
                    <td><a href="/ques/?method=delete&id={{ questionnaire.id }}">删除</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <script>
        var showModal = function () {
            $("#MyModalBody").load("/ques/?method=add", function () {
                $("#MyModalBody").modal('show');
            })
        };
        $(document).ready(function () {
            $("#ques").addClass("active");
        });
    </script>
{% endblock %}