{% extends 'base.html' %}
{% block page_title %}
    <a href="/ques/">问卷管理</a> /查看统计
{% endblock %}
{% block content %}
    <div class="panel-body ">
        <div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>问题名称</th>
                    <th>选择情况</th>
                </tr>
                </thead>
                <tbody>
                {% for form in form_list %}
                    <tr>
                        <td>{{ form.obj.caption}}</td>
                        <td>
                            {% for v in form.options %}
                                {{ v.Option }}
                                {{ v.Count }}
                                {{ v.idd }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#ques").addClass("active");
        });
    </script>
{% endblock %}